html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container > nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
}

.scrollbar-wrapper {
  flex-grow: 1;
  margin-top: 70px;
  height: calc(100vh - 70px - 50px);
  overflow: hidden;
}

.main-content {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background: white;
}

.layout-container > footer {
  height: 50px;
}

@media (max-width: 768px) {
  .scrollbar-wrapper {
    height: calc(100vh - 70px - 40px);
  }
  
  .main-content {
    padding: 1rem;
  }
}